 
.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }
.card {
  font-family: 'Outfit', sans-serif;
  background-color: rgb(246, 245, 245);
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
.qr {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

body {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: rgb(179, 179, 240);
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(246, 245, 245);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}